xcuserdata/
/AniAnglia/Libraries/libtorrent/libtorrent.xcframework/ios-arm64/torrent-rasterbar.a
/AniAnglia/Libraries/libtorrent/libtorrent.xcframework/ios-arm64_x86_64-simulator/torrent-rasterbar.a
.DS_Store

# Build artifacts
build/
build_*/

# Local-only developer assets
docs/
screens/
icon.png
